<div *ngIf="isReady">
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon class="md-24" >menu</md-icon>
        </button>
        <span>{{admin.title}}</span>
      </md-toolbar>
    <md-sidenav-container>
        <md-sidenav #sidenav mode="side" class="app-sidenav">
            <md-nav-list>
                <a md-list-item
                *ngFor="let tab of admin.tabs"
                [routerLink]="tab.url"
                routerLinkActive="selected-tab"
                (click)="sidenav.toggle()">
                {{tab.name}}
             </a>
             </md-nav-list>
        </md-sidenav>
        <div class="admin-content">
        <router-outlet></router-outlet>
        </div>
      </md-sidenav-container>
</div>



